# Install these on work machines only
{{- if eq .location "work" }}
{{- end }}

tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
cask "1password"
cask "bartender"

brew "mas"
brew "node"
brew "nvm"
brew "postgresql@10"
brew "ruby-build"
brew "rbenv"
brew "redis"
brew "1password-cli"
mas "Acorn", id: 1547371478
mas "Airmail", id: 918858936
mas "Day One", id: 1055511498
mas "Drafts", id: 1435957248
mas "Fantastical", id: 975937182
mas "Grammarly for Safari", id: 1462114288
mas "Highland 2", id: 1171820258
mas "Home Assistant", id: 1099568401
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Magnet", id: 441258766
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Reeder", id: 1449412482
mas "Save to Pocket", id: 1477385213
mas "Slack", id: 803453959
mas "Things", id: 904280696
mas "Fantastical", id: 975937182
mas "Ivory", id: 6444602274
mas "Tailscale", id: 1475897096