{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
echo "Installing Homebrew packages..."
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}

{{ if ne .location "work" -}}

{{ range .packages.darwin.ghentcasks -}}
cask {{ . | quote }}
{{ end -}}

{{/* Uncomment if I evern need brews for work specifically */}}
{{/* {{ range .packages.darwin.ghent-brews -}} */}}
{{/* brew {{ . | quote }} */}}
{{/* {{end -}} */}}

{{ range .packages.darwin.ghentmas -}}
mas "{{ .name }}", id: {{ .id }}
{{ end -}}

{{ end -}}

{{ range .packages.darwin.mas -}}
mas "{{ .name }}", id: {{ .id }}
{{ end -}}
EOF
{{ end -}}